{% extends '::base.html.twig' %}

{% datagrid_theme datagrid _self %}

{% block stylesheets %}
    {{ parent() }}
    {{ datagrid_stylesheets(datagrid) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ datagrid_javascripts(datagrid) }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Project list</h1>
        <a class="btn btn-default" href="{{ path('tasklist_new') }}" onclick="">
            <i class="icon-plus-sign-alt"></i> {{ "tasklist.button.new"|trans }}
        </a>
        {{ datagrid_content(datagrid) }}
    </div>
{% endblock %}
